.business-card__container {
    width: 317px;
}

.business-card__container-header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #121316;
    border-radius: 10px;
    padding: 10px;
    margin: 23px 0;
}

.business-card__container-header_container h3 {
    font-size: 16px;
}

.business-card__container-header_container button {
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #d1d5db;
    color: inherit;
    transition: 0.3s;
    cursor: pointer;
}

.business-card__container-header_container button:hover {
    filter: brightness(1.1);
}

.business-card__container-header_container button:active {
    transform: scale(0.9);
}

